<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Woman-Up</title>
</head>

<body>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                </div>
                <h3 id="menu-title">Woman Up</h3>
                <a href="/startpage"><span class="black-text name">Hem</span></a>
            </div>
        </li>
        <li><a href="/settings">Inställningar</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="/external-links">Externa länkar</a></li>
        <li><a class="waves-effect" href="/FAQ">FAQ</a></li>
        <li><a class="waves-effect" href="/PrivacyPolicy">Privacy Policy</a></li>
        <li><a class="waves-effect" href="/logout">Logga ut</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <div id="wrapper">
        <div class="container" id="chat-box">
            <div class="jumbotron">
                <h3><a id="color-name" href="/startpage">&larr; {{user}} </a></h3>
                <div class="chat-container">

                    <p>Användare:</p>
                    <ul id="users"> </ul>

                    <p>Meddelanden:</p>
                    <ul id="chat"> </ul>

                </div>

                <div id="demo-chat" class="input-group mb-3">
                    <input type="text" id="chatbox" class="form-control" aria-describedby="send">
                    <div class="input-group-append">
                        <button id="send" class="btn btn-outline-secondary" type="button">Skicka</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="logo">
        <img src="/static/logga.jpg" alt="">
    </div>
    <script>

        // When we receive a message, creates a new <li> with date-userID-message 
        function receivedMessage(data) {
            let ul = document.getElementById("chat");
            let li = document.createElement("li");
            let date = new Date();
            li.textContent = `[${date.toLocaleString()}][${data.userID}]: ${data.message}`;
            ul.appendChild(li);
        }

        // Resets the list of users, whenever somone connects or leaves
        function resetUserList(data) {
            let ul = document.getElementById("users");
            ul.innerHTML = "";

            data.users.map(function (user) {
                let li = document.createElement("li");
                li.textContent = user.userID;
                ul.appendChild(li);
            });
        }

        function receivedUserPosition(data) {
            console.log(data);
        }

        function sendUserPosition(websocket, userID) {
            navigator.geolocation.getCurrentPosition(function (position) {
                let data = {
                    action: "coordinates",
                    userID: userID,
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                };

                websocket.send(JSON.stringify(data));
            });
        }

        // The user id, which is the variable user from main.py
        let userID = "{{user}}";
        // Connects to our websocket-server
        let websocket = new WebSocket("ws://127.0.0.1:5678/");

        // When we have connected (onopen) then we send that we have joined
        websocket.onopen = function (event) {
            let data = { action: "joined", userID: userID };
            console.log("[Websocket]: joined", data)
            websocket.send(JSON.stringify(data));
            sendUserPosition(websocket, userID)
        };

        // When we receive a message from the server
        websocket.onmessage = function (event) {
            let data = JSON.parse(event.data);
            console.log("[Websocket]: received data", data);

            if (data.action == "message") {
                receivedMessage(data);
            } else if (data.action == "joined") {
                resetUserList(data);
            } else if (data.action == "leave") {
                resetUserList(data);
            } else if (data.action == "coordinates") {
                receivedUserPosition(data);
            }

        };

        // When we press the send button
        document.getElementById("send").addEventListener("click", function () {
            let msg = document.getElementById("chatbox").value;
            document.getElementById("chatbox").value = "";

            let data = {
                action: "message",
                userID: userID,
                message: msg
            };

            console.log("[Websocket]: sending data", data);
            websocket.send(JSON.stringify(data));
        });

        // Before the user closes their window (onbeforeunload) så
        // we send that they have left and disconnects from our websocket server
        window.onbeforeunload = function () {
            let data = { action: "leave", userID: userID };
            console.log("[Websocket]: closing", data)
            websocket.send(JSON.stringify(data));
            websocket.close();
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>