<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset=utf-8>
        <title>Woman-Up</title>
        <link href="style.css"rel="stylesheet" type="text/css">
    </head>
    <nav>
        
        <p id="back">
            <!-- Lägga till en pil bild?-->
            <a href="startpage.html"> <-- </a>
        </p>
    </nav>
    <body id="b_Nödrop">
        <h2>
            Nödrop 
        </h2>
        <div id = "Val">
            <p id="Help1">
                Hejsan! Ska hem nu, hade du kunnat följa mig?
            </p>
            <p id="Help2">
                Jag är i fara hjälp mig!
            </p>
            <p id="Help3">
                Någon förföljer mig. Kan du hjälpa mig?
            </p>
        </div>
        <p id="Htext">
            <textarea rows="4" cols="50"></textarea>
        </p>
        <p id="Send">
            <button> Skicka</button>
        </p>    
    </body>

</html>