<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  <title>Länkar</title>
</head>

<body>


  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
        </div>
        <h3 id="hlogga">Woman Up</h3>
        <h4 id="user_menu">{{user}}</h4>
        <a href="/startpage"><span class="black-text name">Hem</span></a>
      </div>
    </li>
    <li><a href="/settings">Inställningar</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a href="/external-links">Externa länkar</a></li>
    <li><a href="/FAQ" class="waves-effect">FAQ</a></li>
    <li><a class="waves-effect" href="/PrivacyPolicy">Privacy Policy</a></li>
    <li><a class="waves-effect" href="/logout">Logga ut</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

  <div id="storlänk">
    <div class="card" id="Länk_card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/static/social.png" id="UMO">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
        <p><a href="https://www.umo.se/" target="_blank">Länk här!</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">UMO<i class="material-icons right">close</i></span>
        <p>UMO är en hemsida för unga där man kan få hjälp om allt kring sex, hälsa och relationer</p>
      </div>
    </div>
    <div class="card" id="Länk_card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/static/nedladdning.png" id="tjejjouren">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
        <p><a href="hhttps://tjejjouren.se/" target="_blank">Länk här!</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">tjejjouren<i class="material-icons right">close</i></span>
        <p>Tjejjouren samlar Sveriges 60 tjejjourer på ett och samma ställe med målet att nå ut till så många tjejer som
          möjligt</p>
      </div>
    </div>
    <div class="card" id="Länk_card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/static/kvinno.png" id="kvinnofrid">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
        <p><a href="https://kvinnofridslinjen.se/sv/" target="_blank">Länk här!</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">kvinnofridslinjen<i
            class="material-icons right">close</i></span>
        <p>Kvinnofridslinjen (020-50 50 50) är en nationell stödtelefon för dig som utsatts för fysiskt, psykiskt och
          sexuellt våld. Du som är anhörig eller vän är också välkommen att ringa till kvinnofridslinjen.</p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/static/javascript.js"></script>
</body>

</html>