<!doctype html>
<html lang="sv">

    <head>
        <meta charset="utf-8">
        <title>Woman Up Privacy Policy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="/static/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    </head>

    <body>
        <ul id="slide-out" class="sidenav">
            <li>
    
              <div class="user-view">
                <div class="background">
                </div>
                <h3 id="hlogga">Woman Up</h3>
                <h4 id="user_menu">{{user}}</h4>
                <a href="/startpage"><span class="black-text name">Hem</span></a>
              </div>
    
            </li>
            <li><a href="#!">Inställningar</a></li>
    
            <li>
              <div class="divider"></div>
            </li>
    
            <li><a href="/hamburgare">Externa länkar</a></li>
            <li><a  href="/FAQ" class="waves-effect" href="/FAQ">FAQ</a></li>
            <li><a class="waves-effect" href="/PrivacyPolicy">Privacy Policy</a></li>
            <li><a class="waves-effect" href="/logout">Logga ut</a></li>
    
          </ul>
          
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          
        <img src="/static/logga.jpg" alt="logga" id="mini-logga">

        <div class="container ">
            <div class="panel-group" id="faqAccordion">
                <div class="panel panel-default ">
                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                        <h4 class="panel-title">
                            <a href="#" class="ing">Hur anmäler man en person som missbrukar sidan?</a>
                    </h4>
        
                    </div>
                    <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <h5><span class="label label-primary"></span></h5>
        
                            <p>Just nu har vi inte en sådan funktion men det är work in progress! Vänligen skicka ett mejl till oss på <a href="mailto: 02.woman.up@gmail.com">02.woman.up@gmail.com</a> så ska vi hjälpa dig!</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                        <h4 class="panel-title">
                            <a href="#" class="ing">Vilka kan se min platsinformation?</a>
                    </h4>
        
                    </div>
                    <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <h5><span class="label label-primary"></span></h5>
                            <p>Din platsinformation delas med andra användare när du väljer att skicka ut ett nödrop. Det går självklart bra att dela med dig av din plats till andra användare i chatten.</p>
                        
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                        <h4 class="panel-title">
                            <a href="#" class="ing">Hur loggar jag ut från appen?</a>
                    </h4>       
                    </div>

                    <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <h5><span class="label label-primary"></span></h5>
        
                            <p>I menyn till vänster hittar du alla funktioner för appen, inklusive "Logga ut".</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--/panel-group-->
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/static/javascript.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </body>
</html>