<!doctype html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Woman Up Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <ul id="slide-out" class="sidenav">
        <li>

            <div class="user-view">
                <div class="background">
                </div>
                <h3 id="hlogga">Woman Up</h3>
                <h4 id="user_menu">{{user}}</h4>
                <a href="/startpage"><span class="black-text name">Hem</span></a>
            </div>

        </li>
        <li><a href="/settings">Inställningar</a></li>

        <li>
            <div class="divider"></div>
        </li>

        <li><a href="/external-links">Externa länkar</a></li>
        <li><a class="waves-effect" href="/FAQ">FAQ</a></li>
        <li><a class="waves-effect" href="/PrivacyPolicy">Privacy Policy</a></li>
        <li><a class="waves-effect" href="/logout">Logga ut</a></li>

    </ul>

    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <img src="/static/logga.jpg" alt="logga" id="mini-logga">
    <div class="FAQ_rutor" id="storlänk">
        <div class="card" id="Länk_card">
            <div class="card-image waves-effect waves-block waves-light">
 
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Hur anmäler man en person som missbrukar sidan?<i class="material-icons right">more_vert</i></span>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              <p>Just nu har vi inte en sådan funktion men det är work in progress! Vänligen skicka ett mejl
                till oss på <a href="mailto: 02.woman.up@gmail.com">02.woman.up@gmail.com</a> så ska vi
                hjälpa dig</p>
            </div>
          </div>
          <div class="card" id="Länk_card">
            <div class="card-image waves-effect waves-block waves-light">
 
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Vilka kan se min platsinformation?<i class="material-icons right">more_vert</i></span>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              <p>Din platsinformation delas med andra användare när du väljer att skicka ut ett nödrop. </p>
            </div>
          </div>
          <div class="card" id="Länk_card">
            <div class="card-image waves-effect waves-block waves-light">
 
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Hur loggar jag ut från appen?<i class="material-icons right">more_vert</i></span>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              <p>I menyn till vänster hittar du alla funktioner för appen, inklusive "Logga ut". <br></p>
            </div>
          </div>
    </div>
       <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/static/javascript.js"></script>
        
    </body>
</html>