<!doctype html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Woman Up Privacy Policy</title>
    </head>

    <body>
        <div id="grid">
            <header id="header">
                <h1>Woman Up</h1>
                <div class = "login">
                    <label >Användarnamn: </label>
                    <input type="text">

                    <label >Lösenord: </label>
                    <input type="text">
                    <a href="/TEST"><button class="button" >Logga in</button></a>
                </div>
            </header>
            <nav>
                <ul>
                    <a href="PrivacyPolicy.html">Hem</a>
                </ul>
            </nav>
            <main>
                <div>
                    <h2>Privacy Policy of Woman Up</h2>
                    <p>
                        This Application collects some Personal Data from its Users.
                    </p>
                    <h3>
                        Policy summary
                    </h3>
                    <p>
                        Personal Data collected for the following purposes and using the following services:
                    </p>
                    <ul>
                        <li>Analytics</li>
                        <ul>Google Analytics and MixPanel</ul>
                        <ul>Personal Data: Cookies; Usage Data</ul>

                        <li>Contacting the User</li>
                        <ul>Mailing list or newsletter</ul>
                        <ul>Personal Data: city; country; date of birth; email address; first name; last name; Usage Data</ul>
                        
                        <li>Device permissions for Personal Data access</li>
                        <ul>Device permissions for Personal Data access</ul>
                        <ul>Personal Data: Camera permission; Precise location permission (continuous); Reminders permission</ul>

                        <li>Hosting and backend infrastructure</li>
                        <ul>mLab and Amazon Web Services (AWS)</ul>
                        <ul>Personal Data: various types of Data as specified in the privacy policy of the service</ul>

                        <li>Infrastructure monitoring</li>
                        <ul>Crashlytics</ul>
                        <ul>Personal Data: geographic position; unique device identifiers for advertising (Google Advertiser ID or IDFA, for example); various types of Data as specified in the privacy policy of the service</ul>

                        <li>Location-based interactions</li>
                        <ul>Geolocation</ul>
                        <ul>Personal Data: geographic position</ul>

                        <li>Registration and authentication</li>
                        <ul>Facebook Authentication</ul>
                        <ul>Personal Data: various types of Data as specified in the privacy policy of the service</ul>

                        <li>Social features</li>
                        <ul>Inviting and suggesting friends</ul>
                        <ul>Personal Data: various types of Data</ul>

                    </ul>
                </div>
            </main>
            <footer> 
                <p>©2020</p>
            </footer>  
        </div>
    </body>
</html>