<!doctype html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Woman Up Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                </div>
                <h3 id="hlogga">Woman Up</h3>  
                <a href="/startpage"><span class="black-text name">Hem</span></a>
            </div>
        </li>
        <li><a href="#!">Inställningar</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="/external-links">Externa länkar</a></li>
        <li><a href="/FAQ" class="subheader">FAQ</a></li>
        <li><a class="waves-effect" href="/PrivacyPolicy">Privacy Policy</a></li>
        <li><a class="subheader" href="/logout">Logga ut</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <div id="grid">
        <main id="PP">
            <div>
                <h2>Privacy Policy of Woman Up</h2>
                <p>
                    This Application collects some Personal Data from its Users.
                </p>
                <h3>
                    Policy summary
                </h3>
                <p>
                    Personal Data collected for the following purposes and using the following services:
                </p>
                <ul>
                    <li>Analytics</li>
                    <ul>Google Analytics and MixPanel</ul>
                    <ul>Personal Data: Cookies; Usage Data</ul>

                    <li>Contacting the User</li>
                    <ul>Mailing list or newsletter</ul>
                    <ul>Personal Data: city; country; date of birth; email address; first name; last name; Usage Data
                    </ul>

                    <li>Device permissions for Personal Data access</li>
                    <ul>Device permissions for Personal Data access</ul>
                    <ul>Personal Data: Camera permission; Precise location permission (continuous); Reminders permission
                    </ul>

                    <li>Hosting and backend infrastructure</li>
                    <ul>mLab and Amazon Web Services (AWS)</ul>
                    <ul>Personal Data: various types of Data as specified in the privacy policy of the service</ul>

                    <li>Infrastructure monitoring</li>
                    <ul>Crashlytics</ul>
                    <ul>Personal Data: geographic position; unique device identifiers for advertising (Google Advertiser
                        ID or IDFA, for example); various types of Data as specified in the privacy policy of the
                        service</ul>

                    <li>Location-based interactions</li>
                    <ul>Geolocation</ul>
                    <ul>Personal Data: geographic position</ul>

                    <li>Registration and authentication</li>
                    <ul>Facebook Authentication</ul>
                    <ul>Personal Data: various types of Data as specified in the privacy policy of the service</ul>

                    <li>Social features</li>
                    <ul>Inviting and suggesting friends</ul>
                    <ul>Personal Data: various types of Data</ul>

                </ul>
            </div>
            <footer>
                <p>©2020</p>
            </footer>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/javascript.js"></script>
</body>

</html>