<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset=utf-8>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
        <link href="/static/style.css"rel="stylesheet" type="text/css">
        <link href="https://api.mapbox.com/maxbox-gl-js/v0.38.0/mapbox-gl.css" rel='stylesheet'/>

    </head>
   
    <body>
        <h3><a href="/startpage">&larr;</a></h3>
        <p id = "SendName">
        % for user in Listarop:
        {{str(user[1])+";"}}
        % end
        </p> 
        <p id = "text">
        % for text in Listarop:
        {{str(text[0])+";"}}
        % end
        </p> 
        <p id = "datum">
        % for date in Listarop:
        {{str(date[2])+";"}}
        % end
        </p>
        <p id = "Pos">
        % for pos in Listarop:
            {{str(pos[3])+";"}}
        % end
        </p>
        
        <p id = "DinPlats">

        </p>
        <div id ="mapid"></div>
        <script type="text/javascript" src="/static/leaflet.js"></script>
       

        </p>
        <div id ="mapid"></div>
        <script type="text/javascript" src="leaflet.js"></script>
       
            
        
    </body>

</html>