<!doctype html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Woman Up Privacy Policy</title>
    </head>

    <body>
        <div id="grid">
            <header id="header">
                <h1>Woman Up</h1>
                <div class = "login">
                    <label >Användarnamn: </label>
                    <input type="text">

                    <label >Lösenord: </label>
                    <input type="text">
                    <a href="/TEST"><button class="button" >Logga in</button></a>
                </div>
            </header>
            <nav>
                <ul>
                    <li>Hem</li>
                </ul>
            </nav>
            <main>
                <div>
                    <a href="FullPrivacyPolicy.html">Click here to read our Privacy Policy</a>
                </div>
                <div>
                    <h2>Om Woman Up</h2>
                    <p>
                        Syftet med Women Up är att skapa ett tryggare samhälle för kvinnor. Förhoppningen är att om en tjej får sällskap hem eller någon att prata med så kommer det att få henne att känna sig tryggare. Skulle något hända så finns det någon som vet vart de är och de kan få hjälp snabbare. 
                    </p>
                    <h3>
                        WomanUp
                    </h3>
                    <ul>
                        Hittepågatan 49,
                    </ul>
                    <ul>
                        123 45 Malmö
                    </ul>
                    <ul>
                        info@womanup.com
                    </ul>
                </div>
            </main>
            <footer> 
                <p>©2020</p>
            </footer>  
        </div>
    </body>
</html>