<!doctype html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Woman Up Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--
        <div id="grid">
            <header id="header">
                <h1>Woman Up</h1>
                <div class = "login">
                    <label >Användarnamn: </label>
                    <input type="text">

                    <label >Lösenord: </label>
                    <input type="text">
                    <a href="/TEST"><button class="button" >Logga in</button></a>
                </div>
            </header>
            <nav>
                <ul>
                    <li>Hem</li>
                </ul>
            </nav> -->
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                </div>
                <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="/startpage"><span class="black-text name">Hem</span></a>
            </div>
        </li>
        <li><a href="#!"></i>Visa profil</a></li>
        <li><a href="#!">Inställningar</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="/hamburgare">Externa länkar</a></li>
        <li><a class="waves-effect" href="#!">Hjälp</a></li>
        <li><a class="subheader">FAQ</a></li>
        <li><a class="waves-effect" href="/PrivacyPolicy">Privacy Policy</a></li>
        <li><a class="subheader">Bjud in</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <main>
        <div>
            <a href="/FullPrivacyPolicy">Click here to read our Privacy Policy</a>
        </div>
        <div>
            <h2>Om Woman Up</h2>
            <p>
                Syftet med Women Up är att skapa ett tryggare samhälle för kvinnor. Förhoppningen är att om en tjej får
                sällskap hem eller någon att prata med så kommer det att få henne att känna sig tryggare. Skulle något
                hända så finns det någon som vet vart de är och de kan få hjälp snabbare.
            </p>
            <h3>
                WomanUp
            </h3>
            <ul>
                Hittepågatan 49,
            </ul>
            <ul>
                123 45 Malmö
            </ul>
            <ul>
                info@womanup.com
            </ul>
        </div>
    </main>
    <footer>
        <p>©2020</p>
    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/javascript.js"></script>
</body>

</html>