<!doctype html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Woman Up Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                </div>
                <h3 id="hlogga">Woman Up</h3>
                <h4 id="user_menu">{{user}}</h4>
                <a href="/startpage"><span class="black-text name">Hem</span></a>
            </div>
        </li>
        <li><a href="/profilsida"></i>Visa profil</a></li>
        <li><a href="#!">Inställningar</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="/hamburgare">Externa länkar</a></li>
        <li><a class="subheader">FAQ</a></li>
        <li><a class="waves-effect" href="/PrivacyPolicy">Privacy Policy</a></li>
        <li><a class="subheader" href="/logout">Logga ut</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <main id="PP">
        <div>
            <a href="/FullPrivacyPolicy">Click here to read our full Privacy Policy</a>
        </div>
        <div>
            <h3>Om Woman Up</h3>
            <p id="syfte">
                Syftet med Women Up är att skapa ett tryggare samhälle för kvinnor. Förhoppningen är att om en tjej får
                sällskap hem eller någon att prata med så kommer det att få henne att känna sig tryggare. Skulle något
                hända så finns det någon som vet vart de är och de kan få hjälp snabbare.
            </p>
            <h4>
                Kontakt
            </h4>
            <p>
                Hittepågatan 49,
            </p>
            <p>
                123 45 Malmö
            </p>
            <p>
                info@womanup.com
            </p>
        </div>
        <footer>
            <p>©2020</p>

        </footer>
    </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/javascript.js"></script>
</body>

</html>