<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    <title>Woman-Up</title>
</head>

<body id="register_page">
    <div id="wrapper">
        <form action="/register" method="POST" id="registering">
            <h1>Skapa en profil</h1>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="firstname">Förnamn</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="lastname">Efternamn</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="phonenumber">Telefonnummer</label>
                    <input type="text" class="form-control" id="phonenumber" name="phonenumber" required>
                </div>
            </div>
            <h2>Födelsedatum</h2>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>År</option>
                        <option value="1">1990</option>
                        <option value="2">1991</option>
                        <option value="3">1992</option>
                        <option value="4">1993</option>
                        <option value="5">1994</option>
                        <option value="6">1995</option>
                        <option value="7">1996</option>
                        <option value="8">1997</option>
                        <option value="9">1998</option>
                        <option value="10">1999</option>
                        <option value="11">2000</option>
                        <option value="12">2001</option>
                        <option value="13">2002</option>
                        <option value="14">2003</option>
                        <option value="15">2004</option>
                        <option value="16">2005</option>
                        <option value="17">2006</option>
                        <option value="18">2007</option>
                        <option value="19">2008</option>
                        <option value="20">2009</option>
                        <option value="21">2010</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Månad</option>
                        <option value="1">Januari</option>
                        <option value="2">Februari</option>
                        <option value="3">Mars</option>
                        <option value="4">April</option>
                        <option value="5">Maj</option>
                        <option value="6">Juni</option>
                        <option value="7">Juli</option>
                        <option value="8">Augusti</option>
                        <option value="9">September</option>
                        <option value="10">Oktober</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Dag</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                        <option value="1">7</option>
                        <option value="2">8</option>
                        <option value="3">9</option>
                        <option value="1">10</option>
                        <option value="2">11</option>
                        <option value="3">12</option>
                        <option value="1">13</option>
                        <option value="2">14</option>
                        <option value="3">15</option>
                        <option value="1">16</option>
                        <option value="2">17</option>
                        <option value="3">18</option>
                        <option value="1">19</option>
                        <option value="2">20</option>
                        <option value="3">21</option>
                        <option value="1">22</option>
                        <option value="2">23</option>
                        <option value="3">24</option>
                        <option value="1">25</option>
                        <option value="2">26</option>
                        <option value="3">27</option>
                        <option value="3">28</option>
                        <option value="1">29</option>
                        <option value="2">30</option>
                        <option value="3">31</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="password">Lösenord</label>
                    <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelpBlock"
                        required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Din lösenord måste vara mellan 8-20 karaktärer långt och innehålla båda bokstäver och siffror
                    </small>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                    <small id="emailHelp" class="form-text text-muted">Vi delar inte din email med någon.</small>
                </div>
            </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="user_terms">
                    <label class="form-check-label" for="invalidCheck2">
                        <a href="/FullPrivacyPolicy" onclick="window.open(this.href, 'mywin',
                            'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >Acceptera användarvillkor</a>
                    </label>
                </div>
            <input type="submit" value="Register">
            <p>{{msg}}</p>

        </form>
        <div id="bild">
            <img src="/static/logga.jpg" alt="">
        </div> 
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>