<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset=utf-8>
    <title>Woman-Up</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<nav>

</nav>

<body>
    <div id="placering">
        <p id="pNödrop">
            <a id="Nödrop" href="/emergency"> Nödrop </a>
        </p>
        <p id="pChatt">
            <a id="Chatt" href="/chatt"> Chatt</a>
        </p>
        <p id="pKarta">
            <a id="Karta" href="/map"> Karta </a>
        </p>
    </div>
    <img src="/static/logga.jpg" alt="logga" id="logga-1">
</body>

</html>