<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset=utf-8>
        <title>Woman-Up</title>
        <link href="style.css"rel="stylesheet" type="text/css">
    </head>
    <nav>
        
    </nav>
    <body> 
        <p id="pNödrop">
            <a id="Nödrop" href="/emergency.html"> Nödrop </a>
        </p>
        <p id="pChatt">
            <a id="Chatt" href="....."> Chatt</a>
        </p>
        <p id="pKarta">
            <a id="Karta" href="/map"> Karta </a>
        </p>

    </body>

</html>

