.form-group {
    display: block;
    height: 80px;
    padding: 5px; 
    box-sizing: border-box;
    background-color: white;
}

html {
  height: 100%;
}
body {
  min-height: 100%;

}
.box {
    box-sizing: border-box;
    max-width: 320px;
    box-shadow: 0 0 10px #333333;
    padding:10px;
    margin-top: 10%;
    z-index: 2;
    position: fixed;
    margin-left: 37%;
    background-color: white;
    border-radius: 10px;

}
#register_page {
  margin: 0;
  width: 100%;
  height: 100%;
}

.form-check{
  padding:10px,;
  margin:5px;
}

.länkar {
    padding: 5px;
}

#kontakt {
    margin-left: 100px;
}

img{
  max-height: 90%;
  max-width: 90%;
  z-index: 1;
  position: fixed;
  margin-top: 95%;

}

#mini-logga {
  max-width: 25% !important;
  max-height: 25% !important;
  position: relative !important;
  margin-top: 2px !important;
  float: right;
  margin-right: 9px;
}

.placering {
  z-index: 2;
  position: absolute;
}

.färg {
  background-image: linear-gradient(to left bottom, #e752d4, #de60d9, #d56bdd, #cc75e0, #c47ee1, #bc7adf, #b477de, #ac73dc, #a163d8, #9554d4, #8843cf, #7b32cb);
  color:white;
}

.material-icons {
    font-size: 30px;
    color: black;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #333333;
    border-radius: 50%;
    margin: 15px;
}
.sidenav .user-view .name {
    margin-top: 85px;
    padding-left: 14px;
}

@media only screen and (max-width: 980px) {
    #chatt-box{
       
        min-width:100%; 
        display: inline-block;}
    
    #profil-knapp{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;

    }
  }

#UMO {
    max-height: 60%;
    max-width: 60%;
    margin-top: 5%;
  }

  #Länk_card {
    max-width: 75%;
    max-height: 20%;
    margin: auto;
    box-sizing: border-box;
  }

  .card .card-content .card-title i {
    margin: auto;
    
  }

  #tjejjouren {
    max-width: 60%;
    max-height: 60%;
    margin-top: 5%;
  }

  #storlänk {
    margin-bottom: 15px;
  }

  #kvinnofrid {
    max-width: 60%;
    max-height: 60%;
    margin-top: 5%;
  }

  .card-image.waves-effect.waves-block.waves-light {
      margin-top: 15px;
  }
@media only screen and (max-width: 750px) {
    
    .box {
        justify-content: center;
        display: inline-block;
        margin-left: 9%;
        min-width: 70%;
        margin-top: 35%;
        
    }

    
}

/* CSS till startpage*/
#Chatt, #Karta, #Nödrop{
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 3px 2px rgb(199, 199, 199);
}

a{
    text-decoration: none;
}

#Nödrop{
    padding:20px 30px 20px 30px;
}

#Chatt{
    padding: 20px 52px 20px 52px;
}

#pNödrop, #pChatt, #pKarta {
    margin: 70px;
    text-align: center;
}

/*CSS till nödrops sidan*/
#Rubrik{
    font-size: 30px;
    text-align: center;
}

#Help1,#Help2,#Help3{
    border: 1px solid black;
    margin: 10px 30px;
    text-align: center;
    padding:10px;
    
}

#Htext{
    text-align: center;
    margin:50px;
}

#Send{
    width: 100%;
    
}
#pos{
  display: none;
}

/*CSS till karta */
#mapid{
    height: 700px; 
    width: 400px;
    margin: auto;

}

#SendName,#Pos,#text,#datum{
  display:none;
}






#wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
}

#registering {
    padding: 10px;
}

#chatt-box {
    padding-top: 10%;
    width: 50%;
    justify-content: center;
}

/* Chatt rutor */
.chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Mörkare chatt rutor */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Tar bort floats */
.chat-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Bilder */
.chat-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* bilder till höger */
.chat-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* tid texten*/
.time-right {
  float: right;
  color: #aaa;
}

/* tid texten till höger */
.time-left {
  float: left;
  color: #999;
} 

/* Privacy policy*/
#PP{
margin: 20px;
}
.faqHeader {
  font-size: 27px;
  margin: 20px;
}

#hlogga {
  font-family: 'Raleway', sans-serif;
}