.form-group {
    display: block;
    height: 80px;
    padding: 5px; 
    box-sizing: border-box;
    background-color: white;
}

.box {
    box-sizing: border-box;
    max-width: 320px;
    box-shadow: 0 0 10px #333333;
    padding:10px;
    margin-top: 10%;
    z-index: 2;
    position: fixed;
    margin-left: 37%;
    background-color: white;
}

.länkar {
    padding: 5px;
}

#kontakt {
    margin-left: 100px;
}

img{
    max-height: 600px;
    max-width: 600px;
    margin-left: 40px;
    z-index: 1;
    position: fixed;
    margin-top: 5%;

}

.material-icons {
    font-size: 30px;
    color: black;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #333333;
    border-radius: 50%;
    margin: 15px;
}
.sidenav .user-view .name {
    margin-top: 85px;
    padding-left: 14px;
}

@media only screen and (max-width: 750px) {
    
    .box {
        justify-content: center;
        display: inline-block;
        margin-left: 9%;
        min-width: 70%;
        margin-top: 35%;
        
    }

    
}

/* CSS till startpage*/
#Chatt, #Karta, #Nödrop{
    border: 1px solid black;
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 3px 2px rgb(199, 199, 199);
}

a{
    text-decoration: none;
}

#Nödrop{
    padding:20px 30px 20px 30px;
}

#Chatt{
    padding: 20px 52px 20px 52px;
}

#pNödrop, #pChatt, #pKarta {
    margin: 70px;
    text-align: center;
}

/*CSS till nödrops sidan*/
#Rubrik{
    font-size: 30px;
    text-align: center;
}

#Val{
    text-align: center;
    margin:55px 150px 10px;
    padding: 0px 350px;
}

#Help1,#Help2,#Help3{
    border: 1px solid black;
    padding: 10px;
    margin:2px;
}

#Htext{
    text-align: center;
}

#Send{
    text-align: center;
}

/*CSS till karta */
#mapid{
    height: 500px; 
    width: 500px;
    margin: auto;
    

}

